body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

hr {
    width:80%;
    text-align: center;
}

div{
  margin: 0 auto;
  text-align: center;
}

#root {
    height: 100%;
}

a:link {
  color: #5a83a0;
  text-decoration: none;
}
  
a:visited {
  color: #5a83a0;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}