.main {
    height: 80%;
    text-align: center;
    padding: 0.5%;
    width:100%;
}

.main hr{
    width: 75%;
}


.post {
    height:10%;
    width:80%;
    margin: 0 auto;
}

    .post span{
        margin-top: 1%;
        margin-left: 0.5%;
    }

    .post .title{
        float:left;
        margin-left:3%;
    }
    .post .comments {
        float:left;
        color: red;
    }

    .post .author{
        float:right;
        margin-right: 3%;
    }
    .post .views {
        float:right;
        margin-right: 4%;
    }