.post {
    height: 80%;
    text-align: center;
    padding: 0.5%;
    width:100%;
}

.post input{
    width:40%;
    height:60px;
    border-radius: 10px;
    border:1px solid gray;
    margin-bottom: 1%;
}

.post hr,
.div_comment hr {
    width: 70%;
}

.info{
    min-height:13%;
    height:auto;
    margin-top: 0.7%;
    margin-bottom: 1.5%;
    margin-left: 11.5%;
    margin-right: 12%;
}

.title{
    float: left;
    margin-left: 5%;
    font-weight: bold;
    font-size:15pt;
}

.date,
.views{
    float:right;
    margin-right: 5%;
    font-weight: lighter;
}

.author{
    float: left;
    margin-left: 5%;
    font-weight: bold;
}

.content{
    width: 68%;
    min-height: 40%;
    height:auto;
    text-align: left;
    margin-left: 16%;
    margin-top:1%;
    margin-bottom: 2%;
    overflow: auto;
}

.comments{
    height:auto;
}

.input_comment{
    width:75%;
}

.submit{
    margin-left: 1%;
    height:60px;
    width:7%;
    border-radius: 10px;
    border: 1px solid gray;
}

.div_comment{
    margin-bottom: 1%;
    min-height:10%;
    height:auto;
}

.div_comment span{
    margin-left: 15.5%;
    margin-right: 15.5%;
}

.comment_author{
    float:left;
    margin-left: 2%;
    font-weight: bold;
    font-size:13pt;
}
.comment_date{
    float:right;
    margin-right: 2%;
    font-weight: lighter;
}
.comment_content{
    float:left;
    margin-left: 2%;
}

.post button:active{
    background-color: hwb(0 76% 24%);
}

.img {
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 300px;
    margin-right: 3%;
}