.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.Pagination button {
  border: 1px;
  border-radius: 14px;
  padding: 8px;
  margin: 0;
  background: rgb(255, 255, 255);
  color: #000000;
  font-size: 1rem;
}

.Pagination button:hover {
    background: rgb(33, 152, 231);
    cursor: pointer;
    transform: translateY(-2px);
  }

.Pagination button[disabled] {
  background: hsl(0, 0%, 86%);
  cursor: revert;
  transform: revert;
}

.Pagination button[aria-current] {
  background: #20b9ff;
  font-weight: bold;
  cursor: revert;
  transform: revert;
}